<md-content class="md-no-momentum" flex="80" layout="column">
    <md-card md-theme-watch style="padding:7px 20px;">
        <md-card-title-text>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Autor</label>
                <input ng-model="formAdd.autor">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                    <label>Tema</label>
                    <input ng-model="formAdd.tema">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Link</label>
                        <input ng-model="formAdd.link">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                                
                            <md-button class="md-raised md-primary" ng-click="adicionarTcc(formAdd.autor,formAdd.tema,formAdd.link)">Enviar</md-button>
                          </md-input-container>
                       
        </md-card-title-text>
      </md-card>
  </md-content>
