<md-content layout-padding>
        <div>
          <form>
            <div layout-gt-sm="column">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Autor</label>
                <input ng-model="formAdd.autor">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                    <label>Tema</label>
                    <input ng-model="formAdd.tema">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                        <label>Link</label>
                        <input ng-model="formAdd.link">
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                                
                            <md-button class="md-raised md-primary" ng-click="adicionarTcc(formAdd.autor,formAdd.tema,formAdd.link)">Enviar</md-button>
                          </md-input-container>
                          </div>
                          
                        
          </form>