html,body{
    height:100%;
   }
   md-sidenav {
       height: 100%
   }

   .ag-floating-filter-input{
    position : relative;
    top:20px;
   }
   .splash-screen{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C4252;
    z-index: 99999;
    pointer-events: none;
   }