<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TCC Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="ag-grid.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="estilo.css">
  <meta name="theme-color" content="#E0E0E0" />
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    
<div ng-if="mostraLogin">
<div ng-include="'login.html'"></div>
</div>
<div ng-if="!mostraLogin">
<section layout="row" flex>

<div ng-include="'leftNav.html'"></div>

<md-content flex layout-padding>
<div ng-include="'toolbar.html'"></div>
<div ng-view></div>

  

</md-content>



</section>
</div>


 

<script>
  agGrid.initialiseAgGridWithAngular1(angular);
  var app = angular.module('myApp', ["ngRoute","ngMaterial","agGrid"]);
//region config
  app.config(function($routeProvider,$locationProvider,$mdIconProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "inicial.html"
    })
    .when("/galeria", {
        templateUrl : "galeria.html"
    })
    .when("/add", {
        templateUrl : "add.html"
    })
    .when("/grid", {
        templateUrl : "grid.html"
    })
    .when("/contato", {
        templateUrl : "contato.html"
    })
    .otherwise("/");
       // use the HTML5 History API
       $locationProvider.html5Mode({
        enabled: true,
        requireBase: false
      });
      $mdIconProvider
    .defaultIconSet('img/icons/sets/core-icons.svg', 24);
  });
  //endregion
//region myCtrl
  app.controller('myCtrl', function ($scope,$http,$timeout,$mdSidenav,$log,$location,$mdToast,$mdDialog) {
    $scope.$on('$viewContentLoaded', function(){
     
    $scope.mostraLogin =false;
    $scope.logado = false;

    $scope.toolBarName = "Banco de TCC's";


    if(localStorage.logado=="true"){
      console.log('ta logado');
      // preencheGrid();
      $scope.logado = true;
     
      
    }
    $scope.user = {email : '', senha : ''};
        $scope.toggleLeft = buildDelayedToggler('left');
        
        function debounce(func, wait, context) {
      var timer;
      return function debounced() {
        var context = $scope,
            args = Array.prototype.slice.call(arguments);
        $timeout.cancel(timer);
        timer = $timeout(function() {
          timer = undefined;
          func.apply(context, args);
        }, wait || 10);
      };
    }
        function buildDelayedToggler(navID) {
      return debounce(function() {
        // Component lookup should always be available since we are not using `ng-if`
        $mdSidenav(navID)
          .toggle()
          .then(function () {
           
          });
      }, 50);
    }
        $scope.cards = [];
        $scope.cards2 = [];
        for (let i = 0; i < 3; i++) {
          $scope.cards2.push({
            url: `https://source.unsplash.com/random/1920x1080?sig=${i+9}`,
            nome: `card${i}`
          });
        }
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/301117-300x234.jpg`,
          nome: `Inteligência Aumentada, a tecnologia do futuro.`
        });
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/inteligencia-artificial_2017-560x300.jpg`,
          nome: `Aprendendo a aprender sobre IA, algoritmos`
        });
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/291117.jpg`,
          nome: `Por que qudits são melhores que qubits`
        });
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/profissoes_TI_2017-1-768x408.jpg`,
          nome: `Novas profissões – e inusitadas- que `
        });
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/281117-768x380.jpg`,
          nome: `Profissões de tecnologia que serão `
        });
        $scope.cards.push({
          url: `http://www.faeterj-rio.edu.br/wp-content/uploads/2017/11/escola-do-trabalhador_2017-768x431.jpg`,
          nome: `Escola do Trabalhador: governo `
        });
        $scope.logar = function(email,senha){
     
            $http({
              method: 'GET',
              url: 'banco.php?email='+email+'&senha='+senha+'&login=true',
            }).then(function (response) {
                if(response.data=='false'){
                  $scope.showSimpleToast("Falha ao realizar Login, verifique suas credenciais!");
                }
                else{
                  if(response.data=='true'){
                    localStorage.logado = true;
                 $scope.logado = true;
                 $scope.showSimpleToast("Login realizado com sucesso!");
                 $scope.mostraLogin = false;
                  // window.location="admin.php";
                  }
                }
              });
        }

        $scope.deslogar = function(){
         localStorage.logado = false;
          $scope.logado = false;
          $scope.irPara('/');

        }
    $scope.close = function () {
      // Component lookup should always be available since we are not using `ng-if`
      $mdSidenav('left').close()
        .then(function () {
          $log.debug("close LEFT is done");
        });
       };
       $scope.arrImagens = [];
       for (let i=0;i<5;i++){
         $scope.arrImagens.push('https://source.unsplash.com/random/80x80?sig=' + Math.random());
       }
       $scope.irPara = function (destino){
        $location.path('/'+destino);
       }
       


      
  $scope.$on('$routeChangeSuccess', function($event, next, current) { 
    // try{
    //   // if(next.$$route.originalPath=='/'){
    //   // preencheGrid();
    // // }
    // }
    // catch(err){
    //   console.log(err);
    // }
    
  });
  var globalValorAntigo = "";
  function preencheGrid(){
    $scope.gridOptions = {};
    var columnDefs = [
        {headerName: "#", field: "id", filter:'number'},
        {headerName: "Autor", field: "autor", filter:'text', editable: ($scope.logado)?true:false},
        {headerName: "Tema", field: "tema",  editable: ($scope.logado)?true:false, filter:'text'},
        {headerName: "Link", field: "link",  editable: ($scope.logado)?true:false, filter:'text'},
        {headerName: "Data Atualizacao", field: "dataAtualizacao"},
        {headerName: "Excluir", field: "excluir", cellRenderer: excluirCellRendererFunc, hide : ($scope.logado)?false:true}
    ];
    columnDefs.forEach((x)=>{
      x.minWidth = 100;
    });
  
    var rowData = [];
    $scope.gridOptions = {
      enableFilter: true,
    enableSorting: true,
    floatingFilter: true,
    rowData : null,
    onGridReady: function(params) {
     
        params.api.sizeColumnsToFit();
        $http({  method: 'GET',
              url: 'banco.php?read=true',
            }).then(function (response) {
            
    $scope.gridOptions.rowData = response.data;
   
      params.api.setRowData(response.data);
   
   
    
     });
    },
        columnDefs: columnDefs,
        rowData: rowData,

    onCellEditingStopped: function(event) {
   
      $http({method: 'GET',
              url: 'banco.php?autor='+event.data.autor+'&tema='+event.data.tema+'&id='+event.data.id+'&link='+event.data.link+'&update=true',
            }).then(function (response) {
                if(response.data=='false'){
                  console.log("Falha ao update");
                }
                else{
                  if(response.data=='true'){
                    console.log("Update com sucesso");
                    $scope.showSimpleToast("Update realizado com sucesso!");
                  }
                }
              });
    },
    angularCompileRows: true
      };
  
    
  }

  
  
  function deletar(id) {
    $http({method: 'GET',
              url: 'banco.php?id='+id+'&delete=true',
            }).then(function (response) {
                if(response.data=='false'){
                  console.log("Falha ao update");
                }
                else{
                  if(response.data=='true'){
                    console.log("Delete com sucesso");
                    $scope.showSimpleToast("Delete realizado com sucesso!");
                    preencheGrid();
                    $scope.irPara('/');
                  }
                }
              }); 
}



function excluirCellRendererFunc(params) {

    params.$scope.deletar = $scope.showConfirmExcluir;
    return '<md-button class="md-warn" ng-click="deletar(data.id)">Excluir </md-button>';
}




  $scope.adicionarTcc = function (autor,tema,link){
   
    $http({
              method: 'GET',
              url: 'banco.php?autor='+autor+'&tema='+tema+'&link='+link+'&create=true',
            }).then(function (response) {
                if(response.data=='false'){
                  console.log("Falha ao adicionar");
                }
                else{
                  if(response.data=='true'){
                    console.log("Adicionado com sucesso!");
                    $scope.showSimpleToast("Adicionado com sucesso!");
                  // window.location="admin.php";
                  }
                }
              });
  }
  $scope.showSimpleToast = function(texto) {
    $mdToast.show(
      $mdToast.simple()
        .textContent(texto)
        .position('top right')
        .hideDelay(3000)
    );
  };
 
  $scope.showConfirmExcluir = function(id) {
    // Appending dialog to document.body to cover sidenav in docs app
    var confirm = $mdDialog.confirm()
          .title('Confirmar Exclusão')
          .textContent('Tem certeza que deseja excluir ?')
          .ariaLabel('')
       
          .ok('Aceitar')
          .cancel('Cancelar');

    $mdDialog.show(confirm).then(function() {
     
     
      $http({method: 'GET',
      url: 'banco.php?id='+id+'&delete=true',
    }).then(function (response) {
        if(response.data=='false'){
          console.log("Falha ao delete");
        }
        else{
          if(response.data=='true'){
            console.log("Delete com sucesso");
            $scope.showSimpleToast("Delete realizado com sucesso!");
            preencheGrid();
            $scope.irPara('/');
          }
        }
      }); 

    }, function() {
      console.log("cancelou");
    });
  };
  $scope.mostraLoginView = function(){
    $scope.mostraLogin = true;
    // $scope.$apply();
  }

       
          preencheGrid();
       
        

      });
});

      //endregion
    </script>
</body>
</html> 