<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="33" layout="column">
        <md-card md-theme-watch>
                <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">Login</span>
                        </md-card-title-text>
                      </md-card-title>
            <md-card-actions layout="row" layout-align="center center">
                <form name="userForm">
                    <div layout-gt-sm="column">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email</label>
                            <input name="email" ng-model="user.email" required minlength="1" maxlength="30"  md-maxlength="30" ng-keyup="$event.keyCode == 13 ? logar(user.email,user.senha) : null"/>
                            <div ng-messages="userForm.email.$error" ng-hide="showHints">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Seu e-mail deve ter no mínimo 1 caracteres e no máximo 30.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Senha</label>
                            <input name="senha" ng-model="user.senha" required minlength="1" maxlength="20"  ng-keyup="$event.keyCode == 13 ? logar(user.email,user.senha) : null"/>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-primary" ng-click="logar(user.email,user.senha)" ng-keyup="$event.keyCode == 13 ? logar(user.email,user.senha) : null">Entrar</md-button>
                        </md-input-container>
                    </div>
                </form>
            </md-card-actions>
        </md-card>
    </div>
    </div>
</md-content>